#container{
    background-color: rgb(186, 248, 233);
}
#topnav{
    gap: 55%;
}
#mytopnav{
display: flex;
gap: 10%;
}
#image1{
    width: 300px;
}
#services{
    display: flex;
    gap: 25%;
}
#services1{
    display: flex;
    gap: 5%;
}
#services2{
    display: flex;
    gap: 5%;
}
#branches{
    display: flex;
    gap: 20%;
}
#scores{
    display: flex;
    gap: 20%;
}
#experience{
    display: flex;
    gap: 20%;
}
#veterinarians{
    display: flex;
    gap: 10%;
}
#blog{
    text-align: center;
}
#footer{
    display: flex;
    gap: 10%;
}
button{
   color: white; 
   background-color: rgb(0, 132, 255);
}


@media screen and(max-width:375px) and (min-width:667px){
    #mytopnav{
        display: block;
        flex-wrap: wrap;
        } 
    #image1{
        width: 0px;
        }  
    #veterinarians{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;  
        
        }
    #footer{
            display: block;
            gap: 10%;
        }          
}
@media  screen and(max-width:1000px)  and (min-width:1200px){
 #mytopnav{
    display: block;
    flex-wrap: wrap;
 } 
 #footer{
    display: block;
    gap: 10%;
} 
#veterinarians{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;  
    
    }        
    
}